@model GoodSmokes.Models.CigarMakerDetails

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<div>
    <h4>Delete Your Brand</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MakerId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MakerId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MakerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MakerName)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>}
</div>

