@model GoodSmokes.Models.CigarMakerDetails

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Brand Details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MakerId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MakerId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MakerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MakerName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TheirCigars)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TheirCigars)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MakerId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
