@model IEnumerable<GoodSmokes.Models.CigarMaker.CigarMakerListItems>

@{
    ViewBag.Title = "Index";
}

<h2>Brand Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MakerId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MakerName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MakerId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MakerName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new {  id=item.MakerId  }) |
            @Html.ActionLink("Details", "Details", new {  id=item.MakerId  }) |
            @Html.ActionLink("Delete", "Delete", new {  id=item.MakerId })
        </td>
    </tr>
}

</table>
