@model GoodSmokes.Models.CigarDetail

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<div>
    <h4>CigarDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CigarId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CigarId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CigarName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CigarName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MakerId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MakerId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TheMaker)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TheMaker)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CigarTypeId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CigarTypeId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TheType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TheType)
        </dd>

    </dl>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>}
</div>

