@model GoodSmokes.Models.CigarDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Cigar Details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CigarId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CigarId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CigarName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CigarName)
        </dd>

        

        <dt>
            @Html.DisplayNameFor(model => model.TheMaker)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TheMaker)
        </dd>

        

        <dt>
            @Html.DisplayNameFor(model => model.TheType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TheType)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CigarId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
