@model IEnumerable<GoodSmokes.Models.CigarListItems>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CigarId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CigarName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MakerId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TheMaker)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CigarTypeId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TheType)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CigarId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CigarName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MakerId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TheMaker)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CigarTypeId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TheType)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.CigarId }) |
            @Html.ActionLink("Details", "Details", new { id = item.CigarId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.CigarId })
        </td>
    </tr>
}

</table>
