@model GoodSmokes.Models.CigarType.CigarTypeDetails

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CigarTypeDetails</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CigarTypeId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CigarTypeId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CigarTypeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CigarTypeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AssociatedCigars)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AssociatedCigars)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CigarTypeId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
