@model IEnumerable<GoodSmokes.Models.CigarType.CigarTypeListItems>

@{
    ViewBag.Title = "Index";
}

<h2>Size Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CigarTypeId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CigarTypeName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CigarTypeId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CigarTypeName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new {  id=item.CigarTypeId  }) |
            @Html.ActionLink("Details", "Details", new {  id=item.CigarTypeId  }) |
            @Html.ActionLink("Delete", "Delete", new {  id=item.CigarTypeId  })
        </td>
    </tr>
}

</table>
